<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Request Status</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
    <!--Form css-->
    <link href="/css/login_signup.css" rel="stylesheet" />

</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/">Student Returning Scheduler</a>
            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <form action="/logout" ,method='post'>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">

                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                                href="/">Home</a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                                href="/logout">Logout
                            </a></li>
                    </ul>
                </div>
            </form>
        </div>
    </nav>

    <!--Form for SignUp-->
    <section class="page-section bg-primary text-black mb-0" id="form">
        <div class="container d-flex align-items-center flex-column">
            <br>
            <h1>Your Requests</h1>
            <span class="brsmall"></span>

            <table id="request_table">
                <tr>
                    <th>Email</th>
                    <th>Date of return</th>
                    <th>Reason</th>
                    <th>Drive Link for Vaccination Proof</th>
                </tr>
                <% if(request="request" ) { %>
                    <% requestsbystudent.forEach(function(requests){ %>
                    <div id="request">
                        <tr>
                            <td>
                                <%= requests.Email %>
                            </td>
                            <td>
                                <%= requests.DateReturn %>
                            </td>
                            <td>
                                <%= requests.Reason %>
                            </td>
                            <td>
                                <%= requests.link %>
                            </td>
                        </tr>
                    </div>
                   
                        <% }) %>
                        <% } %>
            </table>
            <br>
            

        </div>
    </section>

    <!-- Footer-->
    <footer class="footer text-center" id="foot">
        <div class="container">
            <div class="row">
                <!-- Footer Made By-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <br><br><br>
                    <h3 class="text mb-4">GROUP-9</h3>
                </div>

                <!-- Footer Team Names-->
                <div class="col-lg-4">
                    <h4 class="text-uppercase mb-4">Group Members</h4>
                    <ul class="lead mb-0" id="team_names">
                        <li>B21130&emsp;Shalini Barai</li>
                        <li>B21131&emsp;Shantanu Malakolikar</li>
                        <li>B21133&emsp;Shirsat Ravi</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <br><br>
                    <ul class="lead mb-0" id="team_names">
                        <li>B21133&emsp;Shreya Garg</li>
                        <li>B21134&emsp;Shreyas M</li>
                        <li>B21135&emsp;Shreyas Mehta</li>
                        <li>B21147&emsp;Yash Gupta</li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>

    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

</body>

</html>